version: '3'
services:
  bot:
    build:
      context: .
      dockerfile: ./tg_bot/Dockerfile
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
    restart: always

  parser:
    build:
      context: .
      dockerfile: ./makler/Dockerfile
    restart: always

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

volumes:
  mongodb_data:
