version: '3'
services:
  bot:
    build:
      context: .
      dockerfile: ./tg_bot/Dockerfile
    restart: always

  parser:
    build:
      context: .
      dockerfile: ./makler/Dockerfile
    restart: always

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb.conf:/etc/mongo/mongodb.conf
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
      - ./.env:/docker-entrypoint-initdb.d/.env
    command: mongod --config /etc/mongo/mongodb.conf
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-defaul_value}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-defaul_value}
      sslTunnelUsername: NONE
