version: '3'
services:
  bot:
    build:
      context: .
      dockerfile: ./tg_bot/Dockerfile
    env_file:
      - ./.env
    restart: always

  parser:
    build:
      context: .
      dockerfile: ./makler/Dockerfile
    env_file:
      - ./.env
    restart: always

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_INITDB_ROOT_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_INITDB_ROOT_PASSWORD
      sslTunnelUsername: NONE
    command: mongod --auth
    restart: always

volumes:
  mongodb_data:
