name: Deploy Application

on:
  push:
    branches:
      - main  # Здесь указывается ветка, при пуше в которую будет запускаться процесс

jobs:
  deploy:
    runs-on: ubuntu-latest  # Определение операционной системы

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3 # Клонирование репозитория

    - name: Deploy
      run: |
        ssh root@80.249.146.241 "cd /root/makler_db && git pull origin main && ./start_app.sh"  # Ваш скрипт деплоя

    - name: SSH to Remote Host
      uses: appleboy/ssh-action@master
      with:
        known_hosts: |
          github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl