name: Deploy Application

on:
  push:
    branches:
      - main  # Здесь указывается ветка, при пуше в которую будет запускаться процесс

jobs:
  build:
    runs-on: ubuntu-latest  # Определение операционной системы

    steps:
    - uses: actions/checkout@v3 # Клонирование репозитория
    - name: SSH to Remote Host
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER_NAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          whoami
          cd /root/makler_db && git pull origin main && ./start_app.sh
        